<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.ticketbooksystem.mapper.UserMapper">

    <resultMap id="UserMap" type="com.liang.ticketbooksystem.pojo.User">
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="portrait" jdbcType="VARCHAR" property="portrait" />
        <result column="tel" jdbcType="INTEGER" property="tel" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="is_student" jdbcType="INTEGER" property="isStudent" />
    </resultMap>
<!--    <select-->
<!--            id="selectPerson"-->
<!--            parameterMap="deprecated"-->
<!--            resultType="hashmap"-->
<!--            resultMap="personResultMap"-->
<!--            flushCache="false"-->
<!--            useCache="true"-->
<!--            timeout="10"-->
<!--            fetchSize="256"-->
<!--            statementType="PREPARED"-->
<!--            resultSetType="FORWARD_ONLY">-->
    <select id="getUserList" resultMap="UserMap">
        select * from user
    </select>
    <select id="findById" resultMap="UserMap">
        select * from user where user_id = #{id}
    </select>
    <select id="auth" resultType="java.lang.Integer">
        select count(*) from  user  where user_id = #{proof} and password= #{password}
    </select>
</mapper>